# NAMESPACE for package 'makeMaskJAGS'

importFrom(MASS, eqscplot)
importFrom("graphics", "points", "rect", "axis")
importFrom("stats", "runif")
importFrom("abind", "abind")

export("convertMask", "convertOutput", "randomPoints", "pixelWidth")

S3method("print", "JAGSmask")
S3method("plot", "JAGSmask")
