# NAMESPACE for package 'makeMaskJAGS'

importFrom(MASS, eqscplot)
importFrom("graphics", "points", "rect", "axis", "box", "image", "title")
importFrom("stats", "runif")
importFrom("abind", "abind")
importFrom("grDevices", "chull")

export("convertMask", "convertOutput", "randomPoints", "pixelWidth", "addCore")

S3method("print", "JAGSmask")
S3method("plot", "JAGSmask")
